h2 mypage
- counters.forEach(function (e) {
  hr
  script(type="text/javascript")
    $(function () {
      var target = $('##{e._id} .count')
      new RealtimeCounter('#{e._id}').onIncrement(function (count) {
        target.text(count);
      });
    });
  div(id="#{e._id}")
    table
      tr
        td(style="text-align:right") name:
        td #{e.name}
      tr
        td(style="text-align:right") count:
        td.count #{e.count}
      tr
        td(style="text-align:right;vertical-align:top") usage:
        td
          pre
            code
              &lt;script type=&quot;text/javascript&quot; src=&quot;http://realtime-counter.herokuapp.com/counter.js&quot;&gt;&lt;/script&gt;
              &lt;script type=&quot;text/javascript&quot;&gt;
                new RealtimeCounter('#{e._id}').onIncrement(function (count) {
                  ...
                });
              &lt;/script&gt
- })
hr
- if (counters.length < 3) {
  form(method="POST", action="/create")
    input(type="hidden", name="number", value="#{counters.length + 1}")
    input(type="text", name="name")
    input(type="submit", value="create new counter")
- }
